* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #1a1a1a;
}

.logo-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
}

.logo-header {
  font-size: 16px;
  font-weight: 500;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn {
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.run-btn {
  padding: 2px 10px;
  color: #bdbdbd;
  background-color: #2a2a2a;
}

.run-btn:hover {
  background-color: #3a3a3a;
  color: white;
}

.submit-btn {
  padding: 2px 15px;
  color: #00c853;
  background-color: #2a2a2a;
}

.submit-btn:hover {
  background-color: #3a3a3a;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #2c2c2c;
}

.avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.body {
  display: flex;
  margin: 10px;
  border-radius: 8px;
  height: 90vh;
}

.problem-statement {
  width: 50%;
  margin-right: 10px;
}

.problem-container {
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
}

.problem-header {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  gap: 5px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #bdbdbd;
  font-size: 14px;
  transition: all 0.2s;
}

.tab .material-symbols-outlined {
  font-size: 18px;
  margin-right: 5px;
}

.tab:hover {
  background-color: #3a3a3a;
  color: white;
}

.tab.active {
  background-color: #3a3a3a;
  color: white;
  font-weight: 500;
}

/*Description Screen Starts*/
.problem-content {
  padding: 18px;
  overflow-y: auto;
}

.title h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tag {
  border: 1px solid #3a3a3a;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 13px;
  background-color: #222;
}

.tag.easy {
  color: #00c853;
  border-color: #00c853;
}

.breif-description {
  font-size: 14px;
  line-height: 1.6;
  color: #d0d0d0;
}

.breif-description {
  font-size: 14px;
  line-height: 1.6;
  color: #d0d0d0;
}

.breif-description h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.table-box {
  overflow-x: auto;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1f1f1f;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
  font-size: 13px;
}

th {
  background-color: #2a2a2a;
}

/*Desctiption Screen Ends*/

/*-----------------EDITOR STYLING------------------*/

.editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  overflow: hidden;
}

.editor-header {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a2a2a;
  gap: 12px;
  font-size: 14px;
}

.tabs-container {
  display: flex;
  gap: 0.5rem;
}

.ai-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-right: 10px;
}

.ai-help-btn {
  font-size: 16px;
}

.ai-help-text {
  color: #bdbdbd;
  font-size: 14px;
}

.code-icon,
.result-icon {
  font-size: 18px;
  color: #00c853;
}

.ai-btn {
  font-size: 18px;
  color: #00c853;
  display: flex;
  justify-self: end;
}

.editor-body {
  flex: 1;
  overflow: hidden;
  padding: 0;
}

/*-----------------RESULT STYLING------------------*/

.result-container {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border: 1px solid #2c2c2c;
  overflow: hidden;
}

.result-header {
  height: 45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  background-color: #2a2a2a;
  border-bottom: 1px solid #2c2c2c;
  font-size: 14px;
}

.result-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.result-icon {
  font-size: 18px;
  color: #00c853;
}

.error-icon {
  font-size: 18px;
  color: #c81b00;
}

.result-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.status {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 15px;
}

.status.success {
  background-color: rgba(0, 200, 83, 0.1);
  color: #00c853;
  border: 1px solid #00c853;
}

.table-box {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1f1f1f;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
  font-size: 13px;
}

th {
  background-color: #2a2a2a;
}
